/node_modules
/public/js
/public/fullcalendar
/public/css
/public/hot
/public/storage
/storage
/vendor
/report
.env
.env.testing
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env.testing
.idea
deploy.php