/node_modules
/public/hot
/public/storage
/public/vendor
/storage
/vendor
/report
.env
.env.testing
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env.testing
.idea
